 <!-- Kyle N. Smith, in partnership with Seth Lieberman -->

 <h1> Welcome </h1>


<!-- This is a posting method that submits the credentials to gain access through a session. -->
<form method="POST" action="/home" class = "log-in">

	<input type = "email" name = "email" placeholder = "Email">
	<input type = "password" name = "password" placeholder = "Password">
	<button input type = "submit">Log In</button>


</form>

<!-- link to sign up, if the client has not already established credentials. -->
<a href= "/registration">Sign Up</a>

