 <!-- Kyle N. Smith, in partnership with Seth Lieberman -->
 
<!-- Basic nav menu that will provide a redirect should the user want to access the login page. -->
<ul>
	<li><a href="/">Log In</a></li>

</ul>

<h1>Register</h1>

<!-- Form posts by passing the name values into the registration function when submit is selected. -->
<form method="POST" action="/registration" class = "registration">

	<input type = "text" name = "name" placeholder = "Name">
	<input type = "email" name = "email" placeholder = "Email">
	<input type = "password" name = "password" placeholder = "Password">
	<input type = "text" name = "city" placeholder = "City">
	
	<input type="submit">
</form>

